{% extends 'partials/base.html' %}


{% block content %}
    <div class="container-fluid mt-4 pt-3">
        <div class="row">
            <div class="col-sm-7 border border-start-0 border-secondary">
                <h3 class="text-center">Map</h3>
                {{m | safe}}
            </div>
            <div class="col-sm-5 border border-secondary">
                <h3 class="text-center">Info</h3>
                <table class="table table-striped table-dark">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Фамилия</th>
                        <th scope="col" class="username">LoRa message</th>
                      </tr>
                    </thead>
                    <tbody id="table-data">
                      <tr>
                        <th scope="row">1</th>
                        <td>First</td>
                        <td>Worker</td>
                        <td id="first">@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Second</td>
                        <td>Worker</td>
                        <td>???</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Third</td>
                        <td>Worker</td>
                        <td>???</td>
                      </tr>
                    </tbody>
                  </table>
                  <script>
                    fetch('/map/chat/')
                      .then(response => response.json())
                      .then(data => {
                        const cell = document.getElementById('first');
                        cell.innerText = data.message;
                      });
                  </script>
                
                  {% comment %} В этом блоке я хочу вывести сообщение {% endcomment %}
                 <!-- <form id="message-form" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="user-message">Enter your message:</label>
                        <textarea class="form-control" id="user-message" rows="3" name="user_message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Send</button>
                  </form>
                -->
                <div>      
                  {% csrf_token %}           
                  <button id="send-btn" class="btn btn-primary">Send</button>                                    
                  <div id="chat">
                    <form id="chat-form">
                      <div class="form-group">
                        <label for="exampleFormControlTextarea1">Example textarea</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" name="user_message" rows="3" placeholder=""></textarea>
                      </div>
                    </form>
                  </div>
                </div>
                
                 <script>
                  var chatForm = document.getElementById('chat-form');
                  var sendBtn = document.getElementById('send-btn');
                  chatForm.value = ''
                  sendBtn.addEventListener('click', (e) => {
                    e.preventDefault();
                    var userMessage = document.getElementById('exampleFormControlTextarea1').value;
                    var csrfToken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
                    var xhr = new XMLHttpRequest();
                    userMessage.value = ''
                    xhr.open('POST', '/send-message/');
                    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                    xhr.setRequestHeader('X-CSRFToken', csrfToken);
                    xhr.onload = function() {
                      if (xhr.status === 200) {
                        console.log('Сообщение отправлено');
                        document.getElementById('exampleFormControlTextarea1').value = '';
                      } else {
                        console.log('Ошибка отправки сообщения');
                      }
                    };
                    xhr.send(encodeURI('user_message=' + userMessage));
                  });
                </script>
                
                  <!--<script>
                    const sendButton = document.getElementById('send-btn');
                    const chatForm = document.getElementById('chat-form');

                    sendButton.addEventListener('click', (event) => {
                      event.preventDefault();
                      
                      const formData = new FormData(chatForm);
                      const userMessage = formData.get('user_message');
                      
                      fetch('/map/write_message/', {
                        method: 'POST',
                        headers: {
                          'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                          user_message: userMessage
                        })
                      })
                      .then(response => response.json())
                      .then(response_json => console.log(response_json))
                      .catch(err => console.error('Fetch Error:', err));
                    });
                  </script>-->
                  <!--<script>
                    var refreshForm = document.getElementById('refresh-btn');
                    var chatTextarea = document.getElementById('exampleFormControlTextarea1');
                    chatTextarea.value = ""
                    function updateTextArea(response) {
                      document.getElementById('exampleFormControlTextarea1').value = response.message;}
                    document.getElementById('refresh-btn').addEventListener('click', () => {fetch('/map/chat/')
                    .then(response => response.json())
                    .then(response_json => updateTextArea(response_json))
                    .catch(err => console.log(err));})
                  </script>-->
            </div>
        </div>
    </div>
{% endblock %}