{% extends 'partials/base.html' %}


{% block content %}
    <div class="container-fluid mt-4 pt-3">
        <div class="row">
            <div class="col-sm-7 border border-start-0 border-secondary">
                <h3 class="text-center">Map</h3>
                {{m | safe}}
            </div>
            <div class="col-sm-5 border border-secondary">
                <h3 class="text-center">Info</h3>
                <table class="table table-striped table-dark">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Фамилия</th>
                        <th scope="col" class="username">LoRa message</th>
                      </tr>
                    </thead>
                    <tbody id="table-data">
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td id="first">@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>???</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>???</td>
                      </tr>
                    </tbody>
                  </table>
                  <script>
                    fetch('/map/chat/')
                      .then(response => response.json())
                      .then(data => {
                        const rows = document.getElementsByTagName('tr');
                        for (let i = 1; i < rows.length; i++) {
                          const cells = rows[i].getElementsByTagName('td');
                          cells[2].innerText = data.message;
                        }
                      });
                  </script>
                
                  {% comment %} В этом блоке я хочу вывести сообщение {% endcomment %}
                  <div>                 
                    <button id = "refresh-btn">Refresh</button>
                    
                    
                    <div id="chat">
                      <div class="form-group">
                        <label for="exampleFormControlTextarea1">Example textarea</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                    </div>
                  </div>
                  
                  <script>
                    var refreshForm = document.getElementById('refresh-btn');
                    var chatTextarea = document.getElementById('exampleFormControlTextarea1');
                    chatTextarea.value = ""
                    function updateTextArea(response) {
                      document.getElementById('exampleFormControlTextarea1').value = response.message;}
                    document.getElementById('refresh-btn').addEventListener('click', () => {fetch('/map/chat/')
                    .then(response => response.json())
                    .then(response_json => updateTextArea(response_json))
                    .catch(err => console.log(err));})
                  </script>
            </div>
        </div>
    </div>
{% endblock %}